@charset "UTF-8";
.boton-especial
{
  width: 70%;
  display: block;
  margin: 0 auto;
}
body {
  background-color: #000;
  color: #fff;
}
.titulon-h1
{
  font-size: 24px;
  font-weight: normal;
}
.bg-transárent
{
  background: transparent !important;
}
@media (max-width: 480px){
  .boton-especial{
    width: 100%;
  }
  .titulon-h1
  {
    font-size: 18px;
  }
}
.img_bane {
  width: 100%;
  width: 650px;
  height: 309px;
}
.text_nav {
  font-size: 13px;
  font-weight: 700;
}
.conte_base {
  background-color: #fff;
  color: #000;
}
.text {
  font-family: helvetica;
  font-weight: 700;
  color: #084d9b;
  text-align: center;
}
.parpadea {
  animation-name: parpadeo;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.txt_blanco {
  color: #fff;
}
.img_foot {
  width: 40%;
}
.carousel-inner.onebyone-carosel {
  margin: auto;
  width: 90%;
}
.onebyone-carosel .active.left {
  left: -33.33%;
}
.onebyone-carosel .active.right {
  left: 33.33%;
}
.onebyone-carosel .next {
  left: 33.33%;
}
.onebyone-carosel .prev {
  left: -33.33%;
}
.float {
  position: fixed;
  width: 100%;
  bottom: 40px;
  text-align: center;
  z-index: 100;
}

.float img
{
    width: 200px;
    object-fit: cover;
    -o-object-fit: cover;
}
@media (max-width: 480px){
  .float{
    height: auto;
    bottom: 10px;
    display: flex;
  }
  .float a 
  {
    width: 50%;
  }
  .float a img
  {
    width: 90%;
  }
}
.my-float {
  margin-top: 16px;
}
.logo_des {
  width: 260px;
  min-width: 260px;
  max-width: 260px;
  position: absolute;
  margin: 45px 0 0 216px;
}
.ban_head {
  width: 100%;
  height: 212px;
}
.container {
  padding-right: 0;
  padding-left: 0;
}
@media (max-width: 769px) {
  .dv_head {
    display: none;
  }
  .orderonphone
  {
    order: -1;
  }
}
@media (min-width: 768px) {
  .dv_head {
    display: block;
  }
  .dv_sub {
    display: none;
  }
  .log_foot {
    margin: auto;
  }
}
.navbar .navbar-collapse {
  text-align: center;
}
.list-info {
  list-style: none;
  padding: 0;
}
.list-info li {
  padding-left: 1.3em;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.list-info li:before {
  color: #337ab7;
  content: "\f058";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 2em;
}
.list-link {
  list-style: none;
  padding: 0;
}
.list-link li {
  padding-left: 1.3em;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.list-link li:before {
  color: #337ab7;
  content: "\f071";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 2em;
}
.navbar {
  padding: 0;
}
.hidden {
  display: none !important;
}
button.navbar-toggler {
  outline: 0 dotted;
  outline: 0 auto transparent !important;
}
.titulon-h1
{
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  margin-top: 4px;
  color:#000;
}

.framebase
{
  height: 300px;
}
#carouselControlsindex3
{
  display: none ;
}
.dnoneresp
{
  display: none;
}
@media (max-width: 480px)
{
  .framebase
  {
    height: 250px;
  }
  .carouselControlsindex2
  {
    /* display: none !important; */
  }
  #carouselControlsindex3
  {
    display: block;
  }
  .dnoneresp
  {
    display: block;
  }
}
.form-label
{
  color: #000 !important;
}

.botonw 
{
  width: 100%;
  bottom: 0px;
  background-color: #FFF;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
  height: 60px;
  position: fixed;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.botonw .botonw__item
{
  border-right: 1px solid #f2f2f2;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.botonw__item .item__container
{
  border-radius: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  color : #000000;
  font-weight: bold;
}
.botonw__item .item__img
{
  width: 21px ;
  height: 21px ;
}
.botonw__item .item__name
{
  font-size: 10.5px;
  margin: 2px 0;
}
.ocultarcuadro
  {
    /* background-color: red; */
    display: none ;
  }
@media (max-width: 480px)
{
  .ocultarcuadro{
    display: block;
  }
  .quitarmovil
  {
    display: none;
  }
}
@media (min-width: 768px) 
{
  .ocultarcuadro
  {
    /* background-color: red; */
    display: none !important;
  }
  .botonw {
    width: 430px;
    height: auto;
    padding: 20px 5px;
    position: fixed;
    z-index: 10;
    bottom: 2.5%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
  }
  .botonw__item .item__img
  {
    width: 30px;
    height: 30px;
  }
  .botonw__item .item__name
  {
    font-size: 12px;
  }
}
tr , td { 
  padding:6px;
  border-spacing:0px;
  border-width:0px;
}
